body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
  }
  
  .bg-header {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
  }
  
  .bg-nav {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
  }
  
  .navbar-brand, .nav-link {
    color: white !important;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #feb47b !important;
  }
  
  .hero {
    background-color: #ffe5d9;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .hero-text {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .btn-primary {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border: none;
    margin: 20px;
    align-content: center;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 1.5rem;
    transition: background 0.3s ease;
  }
  
  .btn-primary:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
  }
  
  .bg-footer {
    background-color: #ff7e5f;
    color: white;
    padding: 20px 0;
  }
  
  .img-zoom {
    transition: transform 0.2s;
  }
  
  .img-zoom:hover {
    transform: scale(1.1);
  }
  

  .containernew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
}


.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
  font-size: 20px;
  color: #333;
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}


